<nav >
  <div >
    <div>
      <div >
        <button aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div >
        <div>
          <div>
            <%= link_to(t("title"), root_path) %>
          </div>
        </div>
        <div>
          <div>
            <% if Current.user %>
              <div >
                Welcome, <%= Current.user.name %>!
              </div>
              <%= link_to t(".logout"), logout_path, data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Sign Up", signup_path %>
              <%= link_to t(".sessions.new.title"), login_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

